@import 'util/variables.scss';
.asideLeft {
    text-align: center;
    padding: 40px 5px 15px 5px;
    background: $esz-motional-purple;
    height:  100%;
    min-height: 635px;
    max-height: 635px;
}
.asideLeft__title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    color: white;
}
.asideLeft__subTitle {
    font-size: 1.5rem;
}
.asideLeft__img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: block;
    margin:auto;
}
.asideLeft__text {
    font-size: 1.2rem;
    line-height: 1;
    color: white;
    margin-bottom: 30px;
}

.asideLeft__link{
    font-size: 1rem;
    display: block;
    border-bottom: 1px solid $esz-motional-purple;
    padding-bottom: 2px;
    border-radius: 7px;
    color: $esz-motional-purple;
    text-decoration: none;
    width: auto;
    background: $esz-white;
    margin: 0 auto;
    margin-bottom: 10px;
    &:hover {
        background: $esz-gray-light;
    }
}

// Tablet resolution
@media(min-width:$esz-min-tablet-resolution) {
    .asideLeft {
        padding: 30px 15px 30px 15px;
        min-height: 580px;
        max-height: 100%;
        .asideLeft{
            border-bottom: none; 
        } 
        .asideLeft__img {
            margin-bottom: 10px;
        }
        .asideLeft__subTitle {
            margin-bottom: 30px;;
        }
        .asideLeft__text {
            margin-bottom: 50px;
        }
        .asideLeft__link{
            border-bottom: 1px solid $esz-motional-purple;
            color: $esz-motional-purple;
            max-width: 360px;
        }
    }
}

// Desktop resolution
@media(min-width:$esz-min-desktop-resolution) {
    .asideLeft {
        padding: 50px 15px 30px 15px;
    }
}

// Resolution large desktop
@media(min-width: $esz-min-lg-desktop-resolution) {
    .asideLeft {
      
    }
}