<aside #asideElement class="asideLeft">
    <h1 class="sr-only">Info Developer</h1>
    <img class="asideLeft__img" [src]="imgPath" alt="eszSWLogo">
    <h1 class="asideLeft__title">Eimard | Frontend Engineer</h1>
    <h2 class="asideLeft__subTitle"></h2>
    <p class="asideLeft__text">
        "I am looking forward to knowing more about the project, the team and the culture of Motional"
    </p>
    <a class="asideLeft__link" [href]="wedSitePath" target="__blank" [title]="webSiteLinkTitle">Web site</a>
    <a class="asideLeft__link" [href]="linkedinPath" target="__blank"  [title]="linkedinLinkTitle">Linkedin</a>
    <a class="asideLeft__link" [href]="documentPath" target="__blank"  [title]="documentTitle">Documentation</a>
    <a class="asideLeft__link" [href]="gitLabPath" target="__blank"  [title]="gitLabTitle">GitLab</a>
    <a class="asideLeft__link" [href]="conqualityLink" target="__blank"  [title]="conqualityTitle">Downdload Conquality</a>
    <a class="asideLeft__link" [href]="jumIntoInterviewGameLink" target="__blank"  [title]="jumIntoInterviewGameTitle">Download my game</a>
</aside>