@import 'util/variables.scss';

// Generic styles for Authcomponents
.form {
    margin-bottom:20px;
}
.form__fieldset {
    border:none;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.form__btn, .form__btn--white{
    width:200px;
    padding:10px;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid $esz-motional-black;
    font-weight: bold;
    background: $esz-motional-black;
    color:$esz-white;
    margin-top:5px;
    &.active, &:hover, &:focus {
        background: $esz-motional-black-light;
        outline: none;
    }
    &.disabled {
        background: $esz-gray;
        border-color: $esz-gray;
    }
}
.form__btn--white {
    color: $esz-motional-black;
    background: $esz-white;
}
.form__contentSelects {
    margin-bottom: 30px;
}
.form__contentSelects__select {
    width: 100%;
    height: 44px;
}
.form__upload {
    margin-bottom: 10px;
}
.customControl {
    display: block;
    margin-bottom:15px;
}

.contentLine {
    margin-bottom: 10px;
    .line {
        height: 1px;
        border-bottom: 1px solid black;
        width: 45%;
        display: inline-block;
    }
    .linetxt {
        width: 10%;
        display: inline-block;
        text-align: center;
        padding-top: 2px;
        vertical-align: middle;
    }
}