@import 'util/variables.scss';

.contentLink {
    display: block;
    margin-top: 15px;
    margin-bottom: 50px;
}
h1.formTitle {
    font-size: 3rem;
    font-weight: bold;
    line-height: initial;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.formText {
    font-size: 1rem;
    margin-bottom:10px;
}

.formLayout {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

// Tablet resolution
@media(min-width:$esz-min-tablet-resolution) {
    h1.formTitle {
        font-size: 4rem;
    }

    .formLayout {
        width: 80%;
    }
    .formText {
        margin-bottom:20px;
    }
}
// Desktop resolution
@media(min-width:$esz-min-desktop-resolution) {
    body.auth {
        background: $esz-bkgAuth;
        .mainWrapper {
            display: block;
            background-image: url('./../../assets/img/bkg-auth-motional2.jpg');
            background-size: contain;
            background-position-x: 246px;
            background-position-y: bottom;
            background-repeat: no-repeat;
        }
    } 
    .formLayout {
        width: 70%;
    }
}

// Resolution large resolution
@media(min-width: $esz-min-lg-desktop-resolution) {
    .formLayout {
        max-width: 450px;
    }
}