// My colours
$esz-bkgAuth: white;
$esz-motional-black: #000000;
$esz-motional-black-light: #000000d1;
$esz-white: #FDFEFE;
$esz-white-light: #FBFCFC;
$esz-gray: rgb(10, 41, 114);
$esz-gray-extra-light: #F8F9F9;
$esz-gray-light: #F2F3F4;
$esz-gray: #d9dbdc;
$esz-gray-dark: #b1b2b3;

$esz-violete: mediumvioletred;
$esz-red: #FDEDEC;
$esz-green: #E9F7EF;
$esz-red-light: #fd05051f;

// Motional Colours
$esz-motional-purple: #5c48f6;
$esz-motional-blue-dark: rgb(10, 41, 114);
$esz-motional-gray-light:#f1f2f2;
$esz-motional-black: #030a14;

// Media queries
$esz-max-iphoneSE-resolution: 350px;
$esz-min-tablet-resolution: 768px;
$esz-min-desktop-resolution: 992px;
$esz-min-lg-desktop-resolution: 1200px;
$esz-min-extra-lg-desktop-resolution: 2500px;