@import 'util/variables.scss';

.contentAsideLeft, .contentMain, .contentMain__main, .contentAsideLeft_asideLeft{
    width: auto;
    display: block;
}
.contentAsideLeft {
    vertical-align: top;
}
.contentAsideLeft_asideLeft{
    padding: 15px;
}
.contentMain__main {
    padding: 0 20px 15px 20px;
}

// Tablet resolution
@media(min-width:$esz-min-tablet-resolution) {
    .mainWrapper {
        .contentAsideLeft {
            width: 40%;
        }
        .contentMain {
            width:60%;
        }
        .contentMain__main {
            margin:0 auto;
            padding: 15px 30px;
        }
        .contentAsideLeft, .contentMain {
            display: inline-block;
        }
    }
}
// Desktop resolution
@media(min-width:$esz-min-desktop-resolution) {
    .mainWrapper {
        .contentAsideLeft {
            width: 30%;
            background: $esz-violete;
        }
        .contentMain {
            width:70%;
        }
        .contentAsideLeft_asideLeft {
            padding: 0;
        }
        .contentMain__main {
            padding-top: 0px;
        }
    }
}

// Large resolution
@media(min-width: $esz-min-lg-desktop-resolution) {
    .mainWrapper {
        // max-width: 1400px;
        margin:0 auto;
        .contentAsideLeft {
            width: 20%;
        }
        .contentMain {
            width:80%;
        }
    }
}

// Extra large resolution
@media(min-width: $esz-min-extra-lg-desktop-resolution) {
    .mainWrapper {
        max-width: 2500px;
        margin:0 auto;
        .contentAsideLeft {
            width: 20%;
        }
    }
}


@media(max-width: $esz-max-iphoneSE-resolution){
    .mainWrapper {
        .contentMain__main, .contentAsideLeft_asideLeft {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}