<div class="container">
    <h3 class="contentStatistics __title">Statistics according to the filters applied</h3>
    <p class="contentStatistics__info">*These statistics are corresponding only to the results of the filters you have
        applied (scenario Id and car build)
        and not to the total of the results obtained</p>
    <div class="row">
        <div class="col-sm">
            <eszsw-doughnut-chart class="contentStatistics__chart" [dataSource]="maxStopNumberDataSource"
                [percentageSearched]="maxStopNumberRunsExcededPercentage" [chartTitle]="maxStopNumberRunsExcededTitle">
            </eszsw-doughnut-chart>
        </div>
        <div class="col-sm">
            <eszsw-doughnut-chart class="contentStatistics__chart" [dataSource]="maxRunningDataSource"
                [percentageSearched]="maxRunningTimeRunsExcededPercentage"
                [chartTitle]="maxRunningTimeRunsExcededTitle"></eszsw-doughnut-chart>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <eszsw-doughnut-chart class="contentStatistics__chart" [dataSource]="collisionedRunsDataSource"
                [percentageSearched]="collisionedRunsPercentage" [chartTitle]="collisionedRunsTitle">
            </eszsw-doughnut-chart>
        </div>
        <div class="col-sm">
            <eszsw-doughnut-chart class="contentStatistics__chart" [dataSource]="unsuccessfulRunsDataSource"
                [percentageSearched]="unsuccessfulRunsPercentage" [chartTitle]="unsuccessfulRunsTitle">
            </eszsw-doughnut-chart>
        </div>
    </div>
</div>