@import 'util/variables.scss';

.contentStatistics {
    text-align: center;
}
.contentStatistics__title {
    font-size: 20px;
    color: $esz-gray;
}
.contentStatistics__info {
    margin-bottom: 40px;
    color: $esz-gray-dark;
}
.contentStatistics__chart {
    width: 100%;
    margin-bottom: 20px;
    display: block;
}

// Tablet resolution
@media(min-width:$esz-min-tablet-resolution) {
   
}
// Desktop resolution
@media(min-width:$esz-min-desktop-resolution) {
    .contentStatistics__chart {
        width: 100%;
        margin-bottom: 20px;
        display: inline-block;
    }
}
