<table class="table">
    <caption class="table__caption">Total: {{resultsFound}} results</caption>
    <thead class="thead">
        <tr class="thead__tr">
            <ng-container *ngFor="let header of headers">
                <th scope="col" class="thead__tr__th">
                    <span class="thead__tr__th__value">{{header.value}}</span>
                    <span [ngClass]="(sortTable.key === header.key) ? 'active' : ''" class="thead__tr__th__icon" role="button" (click)="changeSorting(header)">
                        <mat-icon *ngIf="header.sortType === 'asc'" title="Ascendent order" class="subtitle__link__icon">arrow_upward</mat-icon>
                        <mat-icon *ngIf="header.sortType !== 'asc'" title="Descendent order" class="subtitle__link__icon">arrow_downward</mat-icon>
                    </span>
                </th>
            </ng-container>
        </tr>
    </thead>
    <tbody class="tbody">
        <ng-container *ngIf="filteredArray">
            <ng-container *ngFor="let row of filteredArray">
                <tr class="tbody__tr" [ngClass]="row.doesScenarioPass ? 'successfulRun' : ''">
                    <td class="tbody__tr__td">
                        <span class="tbody__tr__td__value">{{row.scenarioId}}</span>
                    </td>
                    <td class="tbody__tr__td">
                        <span class="tbody__tr__td__value">{{row.carBuild}}</span>
                    </td>
                    <td class="tbody__tr__td">
                        <span class="tbody__tr__td__value">{{row.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </td>
                    <td class="tbody__tr__td">
                        <span class="tbody__tr__td__value">{{row.runningTime}} / {{row.maxRunningTime}}</span>
                    </td>
                    <td class="tbody__tr__td">
                        <span class="tbody__tr__td__value">{{row.numberOfStops}} / {{row.maxNumberOfStops}}</span> 
                    </td>
                    <td class="tbody__tr__td">
                        <span class="tbody__tr__td__value">{{row.hasCollision}}</span>
                    </td>
                    <td class="tbody__tr__td">
                        <span class="tbody__tr__td__value">{{row.doesScenarioPass}}</span>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>
<div class="contentPagination">
    <eszsw-my-custom-pagination #pagination [itemsPerPage]="5" (onApplyPaginationFilter)="paginationFilter($event)"
    (onFilterArray)="filterArray()"></eszsw-my-custom-pagination>
</div>
