@import 'util/variables.scss';

.table {
    width: 100%;
    display: block;
    overflow-x: auto;
}
.table__caption {
    padding-left: 20px;
}
.thead__tr__th {
    position: relative;
    vertical-align: middle;
    padding: 15px 30px;
    background: $esz-gray-light;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    &:hover {
        .thead__tr__th__icon {
            visibility: initial;
        }
    }
}
.thead__tr__th__value {
    margin-right: 7px;
    vertical-align: middle;
}
.thead__tr__th__icon {
    position: absolute;
    right: 14px;
    top: 89px;
    cursor: pointer;
    vertical-align: middle;
    color:black;
    visibility: hidden;
    &.active {
        color: $esz-motional-purple;
        visibility: initial;
    }
}
.tbody__tr__td {
    padding: 20px 30px;
    border-top: none;
    border-bottom: 1px solid #dee2e6;
    background: $esz-red;
}
.tbody__tr.successfulRun {
    .tbody__tr__td {
        background: $esz-green;
    }
}
.contentPagination {
    padding: 0 20px;
}


// Tablet resolution
@media(min-width:$esz-min-tablet-resolution) {
    .table {
        display: block;
    }
}
// Desktop resolution
@media(min-width:$esz-min-desktop-resolution) {
    .thead__tr__th__icon {
        top: 29px;
    }
}