@import 'util/variables.scss';
:host {
    position: relative;
    height: 60px;
    display: table;
    width: 100%;
}
.itemPerPageForm {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.itemPerPageForm__label {
    display: block;
    font-size: 14px;
    margin-bottom: 1px;
    color: $esz-gray-dark;
}
.itemPerPageForm__wrapperSelect {
    position: relative;
}
.itemPerPageForm__wrapperSelect__select {
    cursor: pointer;
    padding: 6px 50px 6px 3px;
    border-radius: 5px;
    border:1px solid $esz-gray-dark;
    color: $esz-motional-black;
    &:active, &:focus {
        outline: none;
    }
}
.itemPerPageForm__wrapperSelect__infoLabel {
    font-size: 15px;
    color: $esz-motional-black;
    position: absolute;
    top: 6px;
    right: 28px;
    display: none;
}
.contentPagination {
    display: block;
    margin: 0;
    text-align: center;
    list-style: none;
    overflow-x: auto;
}
.contentPagination__element {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 1px solid $esz-gray;
    border-radius: 7px;
    margin-left: 10px;
    margin-right: 10px;
    &.active {
        border-color: $esz-gray-dark;
        font-weight: bold;
    }
}
.contentPagination__element__link {
    padding: 1px 8px;
    cursor: pointer;
    display: block;
}


// Tablet resolution
@media(min-width:$esz-min-tablet-resolution) {
    .itemPerPageForm {
        width: auto;
        position: absolute;
        margin-bottom: 0px;
    }
    .itemPerPageForm__wrapperSelect {
        display: inline-block;
    }
    .itemPerPageForm__wrapperSelect__infoLabel {
        display: inline-block;
    }
    .contentPagination {
        padding: 0;
        margin: 0;
        display: table-cell;
        vertical-align: bottom;
    }
    .contentPagination__element:first-child {
        margin-left: 0;
    }
    .contentPagination__element:last-child {
        margin-right: 0;
    }
}
// Desktop resolution
@media(min-width:$esz-min-desktop-resolution) {

}