<ng-container *ngIf="showPagination">
    <form action="" *ngIf="itemPerPageForm" [formGroup]="itemPerPageForm" class="itemPerPageForm">
        <label class="itemPerPageForm__label" for="itemPerPage">Items per page</label>
        <div class="itemPerPageForm__wrapperSelect">
            <select class="itemPerPageForm__wrapperSelect__select" name="itemPerPage" id="itemPerPage" formControlName="itemPerPage" type="number">
                <ng-container *ngFor="let item of [1,5,10,15,20]">
                    <option [value]="item">{{item}}</option>
                </ng-container>
            </select>
            <span class="itemPerPageForm__wrapperSelect__infoLabel">/page</span>
        </div>
    </form>
    <ul *ngIf="paginationFormat && paginationFormat.numberOfPages && paginationFormat.numberOfPages > 1" class="contentPagination">
        <li class="contentPagination__element" *ngIf="paginationFormat.numberOfPages > 2 && paginationFormat.currentPage > 1">
            <span class="contentPagination__element__link" role="button" (click)="displayPage(0)">1</span>
        </li>
        <li  class="contentPagination__element" *ngIf="paginationFormat.numberOfPages && paginationFormat.numberOfPages > 3 && paginationFormat.currentPage > 2">
            <span class="contentPagination__element__link dots" role="button">...</span>
        </li>
        <ng-container *ngFor="let page of numberOfPagesArray; let i = index">
            <li  class="contentPagination__element" *ngIf="paginationFormat.currentPage === (i + 1) || paginationFormat.currentPage === (i - 1) || paginationFormat.currentPage === i"
                [ngClass]="paginationFormat.currentPage === i ? 'active' : ''">
                <span class="contentPagination__element__link" role="button" (click)="displayPage(i)">{{page + 1}}</span>
            </li>
        </ng-container>
        
        <li  class="contentPagination__element" *ngIf="paginationFormat.numberOfPages && paginationFormat.numberOfPages > 3 && paginationFormat.currentPage < (paginationFormat.numberOfPages - 3)">
            <span class="contentPagination__element__link dots" role="button">...</span>
        </li>
        <li  class="contentPagination__element" *ngIf="paginationFormat.numberOfPages && paginationFormat.numberOfPages > 2 &&  paginationFormat.currentPage < (paginationFormat.numberOfPages - 2)">
            <span class="contentPagination__element__link" role="button" (click)="displayPage(paginationFormat.numberOfPages - 1)">{{paginationFormat.numberOfPages}}</span>
        </li>
    </ul>
</ng-container>
