@import 'util/variables.scss';

.subtitle__form {
    float: right;
    margin-top: 9px;
    margin-right: 8px;
}
.subtitle__link {
    float: right;
}
mat-icon.subtitle__link__icon {
    font-size: 37px;
    color: $esz-motional-black;
    width: 40px;
    height: 40px;
}

.contentTableFilters {
    margin-bottom: 130px;
    padding: 30px 0px;
}

.contentTableFilters__filters, .contentTableFilters__table {
    display:block;
}
.contentTableFilters__filters {
    padding: 0 20px;
}

// Tablet resolution
@media(min-width:$esz-min-tablet-resolution) {
   
}
// Desktop resolution
@media(min-width:$esz-min-desktop-resolution) {

}