<div class="contentTableFilters wrapperElement bottomBoxShadow">
    <eszsw-simulations-table-filters class="contentTableFilters__filters" (onFiltersApplied)="applyFilters($event)"></eszsw-simulations-table-filters>
    <eszsw-simulation-table class="contentTableFilters__table" [headers]="simulationsDataTableHeaders" 
    [rows]="simulationsDataTableRows" [filters]="tableFilters"></eszsw-simulation-table>
</div>

<div class="contentStatistics" *ngIf="tableFilters && simulationsDataTableFiltered && simulationsDataTableFiltered.length > 0">
    <eszsw-statistics [filteredArray]="simulationsDataTableFiltered"></eszsw-statistics>
</div>
  

