<form action="" *ngIf="filtersForm" class="filtersForm" [formGroup]="filtersForm" (ngSubmit)="onSubmitFilters()">
    <div class="filtersForm__wrapperItem">
        <label class="filtersForm__wrapperItem__label" for="scenario">Scenario</label>
        <mat-icon class="filtersForm__wrapperItem__icon" title="Search Simulation">search</mat-icon>
        <input class="filtersForm__wrapperItem__input" type="text" id="scenario" formControlName="scenario" placeholder="e.g. scenarioId__01">
    </div>
    <div class="filtersForm__wrapperItem">
        <label class="filtersForm__wrapperItem__label" for="scenario">Car build</label>
        <mat-icon class="filtersForm__wrapperItem__icon" title="Search Simulation">search</mat-icon>
        <input class="filtersForm__wrapperItem__input" type="text" formControlName="carBuild" placeholder="e.g. carBuild__01">
    </div>   
    <button type="submit" class="filtersForm__btn">Search</button>
    <button type="button" (click)="clearFilters()"  class="filtersForm__btn clearFilters">Clear filters</button>
</form>