@import 'util/variables.scss';

.filtersForm {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.filtersForm__wrapperItem {
    position: relative;
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
.filtersForm__wrapperItem__label {
    font-size: 14px;
    display: block;
    color: $esz-gray-dark;
    margin-bottom: 1px;
}
.filtersForm__wrapperItem__input {
    position: relative;
    padding: 5px 5px 5px 41px;
    color: $esz-motional-black;
    border-radius: 26px;
    border: 1px solid  $esz-gray;
    background: transparent;
    width: 100%;
    margin-right: 0;
    &::placeholder {
        color: $esz-gray;
    }
    &:focus, &:active {
        outline: none;
    }
}
.filtersForm__wrapperItem__icon {
    color: $esz-gray;
    position: absolute;
    top: 28px;
    left: 7px;
    z-index: 10;
    &:focus, &:active, &:hover {
        color: $esz-gray-dark;
    }
}
.filtersForm__btn {
    background: $esz-motional-black;
    border: none;
    color: $esz-white;
    border-radius: 15px;
    padding: 5px 23px;
    margin-bottom: 20px;
    margin-right: 0px;
    width: 100%;
    display: block;
    &.clearFilters {
        background: $esz-gray-dark;
    }
}

// Tablet resolution
@media(min-width:$esz-min-tablet-resolution) {
 
}
// Desktop resolution
@media(min-width:$esz-min-desktop-resolution) {
    .filtersForm {
        width: auto;
        margin-bottom: 20px;
    }
    .filtersForm__wrapperItem {
        margin-right: 15px;
        margin-bottom: 20px;
        display: inline-block;
        width: auto;
    }
    .filtersForm__wrapperItem__input, .filtersForm__btn {
        margin-right: 15px;
        display: inline-block;
        width: auto;  
        margin-bottom: 0; 
    }
}
