<div *ngIf="dataSource && dataSource.length > 0" class="wrapperElement bottomBoxShadow contentChart">
    <dx-pie-chart id="chart" type="doughnut" [title]="chartTitle" palette="Carmine" [dataSource]="dataSource">
        <dxi-series argumentField="key">
            <dxo-label [visible]="true">
                <dxo-connector [visible]="true"></dxo-connector>
            </dxo-label>
        </dxi-series>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top"></dxo-legend>
        <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
        </dxo-tooltip>
    </dx-pie-chart>
    <p class="contentChart__percentage">{{percentageSearched}}%</p>
</div>