@import 'util/variables.scss';

.contentChart {
    position: relative;
    width: 100%;
}
.contentChart__title {
    text-align: center;
}
.contentChart__percentage {
    position: absolute;
    font-weight: bold;
    font-size: 75px;
    bottom: -3px;
    right: 17px;
}
::ng-deep #chart {
    height: 400px;
    width: 100%;
}

// Tablet resolution
@media(min-width:$esz-min-tablet-resolution) {
    .contentChart {
        width: 100%;
    }
    .contentChart__percentage {
        font-size: 100px;
        right: 30px;
    }
}
// Desktop resolution
@media(min-width:$esz-min-desktop-resolution) {
    .contentChart__percentage {
        position: absolute;
        font-weight: bold;
        font-size: 115px;
        right: 37px;
    }
}