@import 'util/variables.scss';
.formControlGroup__label {
    color: $esz-motional-black;
    font-size: 0.9rem;
    margin-bottom:5px;
    display: block;
}
.formControlGroup__wrapperInput {
    position: relative;
}

.formControlGroup__wrapperInput__input {
    box-sizing: border-box;
    padding: 10px;
    border-radius:4px;
    border:none;
    font-size: 1rem;
    background: $esz-gray-light;
    color:$esz-motional-black;
    width: 100%;
    outline:none;
    &::placeholder {
        color: $esz-gray;
        font-style: italic;
    }
    &:active, &:hover, &:focus {
        background: $esz-white;
        border:1px solid $esz-gray-light;
        padding: 9px 10px 9px 10px;
    }
    &:focus::placeholder {
        font-size: 0.8rem;
        color: $esz-gray;
    }
    &.error {
        background: $esz-red-light;
    }
    &.validating {
        background: $esz-gray;
    }
    &.email {
        padding-right: 100px;
    }
    &.withIcon {
        padding-left: 40px;
    }
}

.formControlGroup__wrapperInput__input__icon {
    position: absolute;
    top: 11px;
    left: 7px;
}

.formControlGroup__wrapperInput__text {
    margin:5px 0 5px 0;
    font-size: 0.8rem;
    color: $esz-motional-black;
    &.valid {
        color: $esz-green;
    }
    &.error {
        color: $esz-red;
    }
    &.info {
        color: $esz-gray;
    }
}

.formControlGroup__wrapperInput__icon {
    position: absolute;
    top: 10px;
    right: 12px;
    &.valid {
        color: $esz-green;
    }
    &.error {
        color: $esz-red;
    }
    &.loading {
        top: -19px;
    }
}
