// Web accessibility (WCAG)
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

toast-notification.ngb-toasts {
    top: 10px;
    right: calc(50% - 140px);
    margin: 0;   
    width: 280px;
    text-align: center;
    display: block;
}

.bottomBoxShadow {
    -webkit-box-shadow: 0px 4px 7px -3px rgba(213, 219, 219, 0.88); 
    box-shadow: 0px 4px 7px -3px rgba(213, 219, 219, 0.88);
}
.bottomBoxTopShadow {
    -webkit-box-shadow: 0px 4px 5px 3px rgb(214 214 214 / 88%);
    box-shadow: 0px 4px 5px 3px rgb(214 214 214 / 88%);
}

.bottomBoxInsetShadow {
    -webkit-box-shadow: inset 0px 6px 25px -16px #C3C3C3; 
    box-shadow: inset 0px 6px 25px -16px #C3C3C3;
}

.wrapperElement {
    border-radius: 23px;
    padding: 30px 20px;
    background: $esz-white-light;
}



