@import 'util/variables.scss';

.header {
    // background: $esz-motional-gray-light;
    background: $esz-gray-light;
    position: relative;
    width: 100%;
    text-align: right;
    padding-left: 0;
    display: table;;
}
.header__nav {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    padding: 0;
}
.header__nav__list{
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: middle;
}
.header__nav__list__element{
    margin:0 30px 0 0;
    padding: 0;
    display: inline-block;
}
.header__link {
    color: $esz-motional-black;
    font-weight: bold;
    padding: 4px 15px;
    &:hover {
        background: $esz-gray-light;
        text-decoration: none;
    }
    &.active, &:active {
        color: $esz-motional-purple;
        background: none;
        // border-bottom:1px solid $esz-motional-black;
    }
}
.header__btn {
    display: table-cell;
    vertical-align: middle;
    border: 2px solid $esz-motional-black;
    color: $esz-motional-black;
    padding: 4px 15px;
    display: inline-block;
    font-size: 1rem;
    background: transparent;
    border-radius: 4px;
    font-weight: bold;
    &:hover {
        background: $esz-gray-light;
    }
}


// Resolution large resolution
@media(min-width: $esz-min-desktop-resolution) {
    .header {
        padding:15px 15px 15px 0;
        .header__title {
            letter-spacing: 4px;
            font-size: 1.5rem;
        }
        .header__btn {
            top:15px;
            right:15px;
        }
    }
}

